<div class="container mt-4">
  <h2 class="mb-4">{{ isEditMode ? 'Edit Currency' : 'Add Currency' }}</h2>
  <form [formGroup]="currencyForm">
    <div class="mb-3">
      <label for="currencyCode" class="form-label">Currency Code</label>
      <input id="currencyCode" formControlName="currencyCode" class="form-control" required>
      <div *ngIf="currencyForm.get('currencyCode')!.invalid && (currencyForm.get('currencyCode')!.touched || currencyForm.get('currencyCode')!.dirty)" class="text-danger">
        <ng-container *ngIf="currencyForm.get('currencyCode')!.errors?.['required']">Currency Code is required.</ng-container>
        <ng-container *ngIf="currencyForm.get('currencyCode')!.errors?.['minlength'] || currencyForm.get('currencyCode')!.errors?.['maxlength']">
          Code must be exactly 3 characters.
        </ng-container>
        <ng-container  *ngIf="currencyForm.get('currencyCode')!.errors?.['pattern']">
          Code must consist of only uppercase letters (A-Z).
        </ng-container>
        </div>
    </div>
    
    <div class="mb-3">
      <label for="currencyName" class="form-label">Currency Name</label>
      <input id="currencyName" formControlName="currencyName" class="form-control" required>
      <div *ngIf="currencyForm.get('currencyName')!.invalid && (currencyForm.get('currencyName')!.touched || currencyForm.get('currencyName')!.dirty)" class="text-danger">
        Curreny Name is Required
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary" *ngIf="!isEditMode"  [disabled]="currencyForm.invalid"  (click)="addCurrency()">
    Add Currency
    </button>
    <button type="button" class="btn btn-warning" *ngIf="isEditMode"    (click)="updateCurrency()">Edit Currency</button>
  </form>
</div>
