
<div class="container mt-4">
    <h1 class="mb-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center mb-4">
              <div class="card-body">
                <h1 class="card-title">Vendors</h1>
                <p class="card-text">Manage your vendors here.</p>
                <a routerLink="/vendors" class="btn btn-primary">View Vendors</a>
              </div>
            </div>
          </div>
      <div class="col-md-4">
        <div class="card text-center mb-4">
          <div class="card-body">
            <h1 class="card-title">Invoices</h1>
            <p class="card-text">Manage your invoices here.</p>
            <a routerLink="/invoices" class="btn btn-primary">View Invoices</a>
          </div>
        </div>
      </div>
     
      <div class="col-md-4">
        <div class="card text-center mb-4">
          <div class="card-body">
            <h1 class="card-title">Currencies</h1>
            <p class="card-text">Manage your currencies here.</p>
            <a routerLink="/currencies" class="btn btn-primary">View Currencies</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  